name: Domain check Single

# Controls when the workflow will run
on:
  # schedule:
  #   - cron: '0 0 * * 2'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check_domain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: single
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8' 

      - name: Setup python env
        working-directory: ./tools
        run: python setup.py develop

      - name: Run domain change check
        working-directory: ./tools
        run: python __domain_change.py
